page-profile {

    .bg_content1{

       
        background-image: url("../assets/imgs/bgk1.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    
    }
    
  
    #items{
    
        background-color:transparent;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.4);
        border: medium none;
        color : white;
    
    
    }
    .div1{
    
        
        background-color: rgba(0.0,0.0,0.0,0.4);
        margin-top: 20%;
        margin-left: 20px;
        margin-right: 20px;
        padding:20px;
        background-size: 100% 100%;
        color: white;
    
       
    }
    .navBar1{
        text-align: center;
        font-style:initial;
    
     }
     .button1{
    
        background-color:transparent;
        border-radius: 10px;
    
    
     }
     .ion-item1{
        border-radius: 6%;
      }
      .imgDiv{
    
        vertical-align: middle;
        text-align: center;
    
      }
      .card{

        background-color:transparent;
        border-radius: 10px;




      }



}
